* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #fff url(../imagens/imagens/fundo.png) repeat-x;
}

#container {
  width: 750px;
  margin: 0 auto;
}

#top {
  height: 150px;
  padding-top: 25px;
  background: url(../imagens/imagens/detalhe-topo.png) no-repeat right top;
  /*border: 1px solid red;*/
}

.logo {
  width: 152px;
  height: 66px;
  background: url(../imagens/imagens/logo.png) no-repeat center;
  text-indent: -3000px;
}

/*Navigation bar*/

a:link,
a:visited {
  color: #b10333;
  padding: 2px;
}

a:hover {
  color: #e50040;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#top ul {
  margin-top: 30px;
  background: #b10333;
  float: left;
}

#top ul li {
  float: left;
}

#top ul a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(../imagens/imagens/divisor.png) no-repeat left center;
}

#top ul .first a {
  background: none;
}

#top ul a:hover {
  color: #69001d;
}

body.home #navigation a#home,
body.brazil #navigation a#brazil,
body.international #navigation a#international,
body.economy #navigation a#economy,
body.health #navigation a#health,
body.science #navigation a#science,
body.photos #navigation a#photos {
  color: #fff;
  background: #de003e;
  cursor: text;
}

/*configures three-column layout*/
#content {
  margin-top: 60px;
  background: #f5f5f5;
}

#side {
  width: 180px;
  margin: 0 0 20px -750px;
  float: left;
}

#primary {
  width: 270px;
  margin: 0 0 20px 195px;
  float: left;
}

#two-columns #primary {
  width: 555px;
}

#one-column #primary {
  width: 750px;
  margin: 0 0 20px 0;
}

#secondary {
  width: 270px;
  margin: 0 0 20px 15px;
  float: left;
}

/*Box*/
.box {
  margin: 10px 0;
  padding: 5px;
  background: #f3f3f3 url(../imagens/imagens/fundo-caixa.png);
}

h2 {
  font-size: 1.1em;
  background: #294c71;
  color: #fff;
  padding: 5px;
}

.box-content {
  background: #fff;
  padding: 5px;
  margin-top: 5px;
}

/*side menu formatting*/

#side ul a {
  font-size: 0.9em;
  padding: 3px;
  display: block;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #f3f3f3;
}

#side ul a:hover {
  background: #f9f9f9 url(../imagens/imagens/marcador.png) no-repeat left center;
  padding-left: 20px;
  color: #a1a1a1;
}

/*forms*/

label {
  display: block;
  cursor: pointer;
}

input {
  padding: 5px;
  width: 125px;
  font-size: 00.9em;
  background-color: #fff;
}

input.submit {
  width: 80px;
  color: #fff;
  background-color: #b10333;
  border: 2px solid #870529;
  padding: 5px;
}

/*Images*/
img {
  border: 2px solid #dfdfdf;
}

img.main-image {
  width: 98%;
  border: 3px solid #dfdfdf;
}

/*headers*/
h3 {
  text-transform: uppercase;
  display: inline;
  font-size: 0.8em;
  padding: 3px;
}

.highlight h3 {
  background: #b10333;
  color: #fff;
}

.interview h3 {
  background: #de003e;
  color: #fff;
}

/*News list*/
#list-news li {
  padding: 2px;
  border-bottom: 1px solid #ccc;
  height: 65px;
}

#list-news li a img {
  float: left;
  margin: 5px;
}

#list-news li a {
  text-decoration: none;
  font-size: 0.8em;
}

#list-news li a h3 {
  font-size: 0.8em;
  padding: 0;
  color: #3e7ab9;
}

#list-news li a p {
  font-size: 0.7em;
  color: #000;
}

#list-news li:hover {
  background: #eee;
  cursor: pointer;
}

/*Footer*/
#container-footer {
  background: #294c71;
  padding: 20px;
}

#footer {
  width: 750px;
  margin: 0 auto;
  color: #fff;
}
